/* VARIABLES */
/* MAP GET */
/* MIXIN */
/* RESETEO CSS */
:root {
  --bs-link-color: inherit;
  --bs-link-hover-color: inherit; }

/* Quite el color azul de Bootstrap en los links */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

html {
  font-size: 100%;
  line-height: 1.4; }

img, picture, video, iframe, figure {
  max-width: 100%;
  height: auto; }

p {
  margin-bottom: 0; }

/* Quita un margen inferior que da Bootstrap en algunos P como links */
a {
  text-decoration: none;
  color: inherit;
  font-style: inherit; }

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  color: inherit; }

/* ESTRUCTURA BASICA GENERAL */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  min-height: 100vh; }

.modo--claro {
  color: #343a40;
  background-color: #dee2e6; }

.modo--oscuro {
  color: #dee2e6;
  background-color: #343a40; }

header {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }

.header__modo--claro {
  background: linear-gradient(130deg, #33c9ff, #94d2bd); }

.header__modo--oscuro {
  background: linear-gradient(130deg, #2857f0, #001219); }

nav {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  font-style: italic; }

.boton__hamburguesa--oscuro {
  filter: invert(1);
  /* invierte colores del icono, valores de 0 - 1 */ }

#boton--claro__oscuro {
  width: 2.5rem;
  height: auto;
  background-color: inherit;
  padding: 0.2rem;
  border-radius: 25%; }

.boton__modo--claro {
  border: 2px solid #343a40; }

.boton__modo--oscuro {
  filter: invert(0.75);
  /* invierte colores del icono, valores de 0 - 1 */ }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-style: italic; }

h1 {
  max-width: 65%;
  margin: 0.3rem;
  text-decoration: none; }

h2 {
  margin: 2rem; }

.contenedor, .contenedor-favoritos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.card {
  margin: 1.5rem 0.5rem;
  background: linear-gradient(130deg, #33c9ff, #94d2bd);
  padding: 7px;
  border: 0px;
  width: 40%;
  min-width: 10rem;
  max-width: 12rem; }

.card__modo--oscuro {
  background: linear-gradient(130deg, #2857f0, #001219); }

.img--champion {
  object-fit: cover; }

.button__allCards, .button__remove--allCards {
  margin-top: 1rem; }

.button__remove--allCards {
  background-color: #ef233c; }

.favorite__text {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  margin: 15vh 2rem 0;
  display: block; }
