/* ESTRUCTURA BASICA GENERAL */

body {
    font-family: map-get($fuentes, general), sans-serif;
    font-weight: 400;
    font-size: 1em;
    min-height: 100vh;
}

.modo--claro{
    color: $colorFondoYLetraOscuro;
    background-color: $colorFondoYLetraClaro;
}

.modo--oscuro{
    color: $colorFondoYLetraClaro;
    background-color: $colorFondoYLetraOscuro;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: map-get($fuentes, titulo), sans-serif;
    font-weight: 700;
    font-style: italic;
}

h1{
    max-width: 70%;
    margin: 0.3rem;
    text-decoration: none;
}

header{
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    @include flexBase(row, wrap, space-between);
    align-items: center;
}

.header__modo--claro{
    background: linear-gradient(130deg, $modoClaroColorPrincipal-1, $modoClaroColorPrincipal-2);
}

.header__modo--oscuro{
    background: linear-gradient(130deg, $modoOscuroColorPrincipal-1, $modoOscuroColorPrincipal-2);
}

nav{
    font-family: map-get($fuentes, general), sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    font-style: italic;
}

.boton__hamburguesa--oscuro{
    filter: invert(1); /* invierte colores del icono, valores de 0 - 1 */
}

#boton--claro__oscuro{
    width: 2.5rem;
    height: auto;
    background-color: inherit;
    padding: 0.2rem;
    border-radius: 25%;
}

.boton__modo--claro{
    border: 2px solid $colorFondoYLetraOscuro;
}

.boton__modo--oscuro{
    filter: invert(0.75); /* invierte colores del icono, valores de 0 - 1 */
}

.contenedor{
    @include flexBase(row, wrap, space-evenly)
}

.card{
    margin: 1.5rem 0.5rem;
    background: linear-gradient(130deg, $modoClaroColorPrincipal-1, $modoClaroColorPrincipal-2);
    padding: 7px;
    border: 0px
}

.card__modo--oscuro{
    background: linear-gradient(130deg, $modoOscuroColorPrincipal-1, $modoOscuroColorPrincipal-2);
}

.img--champion{
    object-fit: cover;
    width: 12rem;
}
