/* VARIABLES */

$colorFondoYLetraClaro: #dee2e6;
$colorFondoYLetraOscuro: #343a40;
$modoClaroColorPrincipal-1: hsl(196, 100%, 60%);
$modoClaroColorPrincipal-2: #94d2bd;
$modoOscuroColorPrincipal-1: hsl(226, 87%, 55%);
$modoOscuroColorPrincipal-2: #001219;


/* MAP GET */

$fuentes:(
    titulo: 'Roboto Condensed',
    general: 'Open Sans',
);


/* MIXIN */

@mixin flexBase($fd, $fw, $jc) {
    display: flex;
    flex-direction: $fd;
    flex-wrap: $fw;
    justify-content: $jc;
}